.row {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;

  li:not(:last-child) {
    margin-right: 5px;
  }

  button {
    padding: 5px 5px;
    background: none;
    border: 1px solid #e9e9e9;
    transition: .3s;
    outline: none;


    &:hover {
      cursor: pointer;
      background-color: #e5e5e5;
    }
  }

  a {
    padding: 5px 10px;
    background: none;
    border: 1px solid #e9e9e9;
    transition: .3s;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: #e5e5e5;
    }
  }
  .active {
    border: 1px solid #ff9c9c;
    background-color: #eeeeee;
  }
}


