<div class="description container">
  <div class="description__title">
    Тестовое задание на должность
    javascript developer
  </div>
  <div class="description__text">
    <p>
      Разработан прототип приложения системы ведения заявок для логистов в авто
      и грузоперевозках в виде web-приложения
     </p>

    <p>Проект полностью рабочий, т.е. его можно собрать и запустить из
      исходного кода и весь основной функционал реализован.
    </p>
    <p>
      Также реализованы некоторые дополнительные
      задания, такие как: поиск по таблице заявок <small>(по названию компании)</small>, а также фильтрация таблицы
      по количеству одновременно находящихся на ее странице элементов<small>(по своей инизиатие добавлена пагинация)
    </small></p>
    <p>
      Прототип включает в себя <a routerLink="/table">таблицу с заявками</a>, возможность просмотра,
      редактирования и удаления заявок, <a routerLink="/create">создание новых заявок</a>.</p>
    В заявке есть следующие данные:
    <ul>
      <li>● Номер заявки</li>
      <li>● Дата и время получения заявки от клиента</li>
      <li>● Название фирмы клиента</li>
      <li>● ФИО перевозчика</li>
      <li>● Контактный телефон перевозчика</li>
      <li>● Комментарии</li>
      <li>● ATI код сети перевозчика (кликабельно, переход на сайт)</li>
    </ul>

    <p>Для хранения данных о заявках использована база данных на Firebase, что позволяет полноценно взаимодействовать
      с приложением и сохранять все изменения даже при обновлении страницы.
    </p>

  </div>
</div>

